*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}

/*******BODY******/
.bg-section{
    left: 0;
    min-width: 100rem;
    height: 60rem;
    background: #d9d9d9;
    position: absolute;
  }